@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bad+Script&family=Bebas+Neue&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Marck+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Sora:wght@100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syncopate:wght@400;700&display=swap");

/* HOME SECTION */
.home-section {
  width: 100%;
  padding: 70px 0px;
}

.home-section-holder {
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-section-img {
  max-width: 600px;
  width: 100%;
}

.home-section-text-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 15px;
  max-width: 330px;
  width: 100%;
}

.home-section-title {
  font-size: 34px;
}

.home-section-text {
  font-size: 16px;

  line-height: 1.6;
}

.home-section-btn {
  max-width: 250px;
  width: 100%;
  padding: 15px 0px;
  border-radius: 5px;
  border: none;
  text-transform: capitalize;
  font-size: 16px;
  background-color: #d267cc;
  color: #f2f2f2;
  cursor: pointer;
  margin-bottom: 10px;
}

.testemonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.testemonial img {
  max-width: 150px;
}

.director-words {
  font-family: "Outfit";
  font-size: 13px;
}

/* IMAGES SECTION */

.images-section {
  padding: 70px 0px;
}

.image-section-holder {
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
}

.img-list-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.img-list {
  list-style: none;
}

.img {
  width: 100px;
  list-style: none;
  aspect-ratio: 3/2;
  object-fit: contain;
  filter: grayscale(1);
}

.img:hover {
  filter: grayscale(0);
  cursor: pointer;
}

/* DISCOVER SECTION */

.discover-section {
  padding: 70px 0px;
}

.discover-section-holder {
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  text-align: center;
}

.discover-section-heading {
  font-size: 28px;
  text-transform: capitalize;
}

.discover-section-subheading {
  max-width: 700px;
  width: 100%;
}

.discover-card-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 25px;
}

.discover-card {
  max-width: 295px;
  width: 100%;
  padding: 20px 0px;
  border-radius: 15px;
  background-image: url("/public/images/layered-waves-haikei.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#card-1,
#card-2,
#card-3 {
  padding-bottom: 50px;
}

.discover-card-width-holder {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

.discover-card-icon {
  height: 50px;
  width: 50%;
  margin-bottom: 15px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(16%) saturate(2%)
    hue-rotate(327deg) brightness(108%) contrast(101%);
}

.discover-card-title {
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 600;
}

.discover-card-text {
  font-size: 15px;
  color: #fff;
  font-weight: 300;
}

/* DATA SECTION */
.data-section {
  padding: 70px 0px;
}

.data-section-holder {
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.data-text-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.data-title {
  font-size: 28px;
  text-transform: capitalize;
}

.data-text span {
  text-transform: uppercase;
}

.data-section-img {
  max-width: 500px;
  width: 100%;
}

/* WAREHOUSE SECTION */
.warehouse-section {
  padding: 70px 0px;
  background-color: #1c2f36;
}

.warehouse-section-holder {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0px auto;
}

.warehouse-title {
  font-size: 28px;
  text-transform: capitalize;
  color: #fff;
}

.warehouse-img {
  width: 100%;
}

.warehouse-btn-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.warehouse-btn {
  font-family: inherit;
  max-width: 250px;
  width: 100%;
  padding: 10px 0px;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  background-color: #4b6b72;
  color: #fff;
  cursor: pointer;
  border: 1px solid #4b6b72;
}

.warehouse-btn:hover {
  background: transparent;
  border: 1px solid #fff;
}

/* TOOL SECTION */
.tools-section {
  padding: 70px 0px;
}

.tools-section-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
}

.tool-section-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tool-section-text-holder {
  max-width: 370px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.tool-title {
  text-transform: capitalize;
}

.tool-title span {
  text-transform: lowercase;
}

.tool-text {
  text-transform: capitalize;
}

.tool-text span {
  text-transform: uppercase;
}

.tools-cards-holder {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.logo-holder {
  max-width: 100px;
  width: 100%;
  min-height: 100px;
  border: 3px solid #d267cc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  background-color: #f2f2f2;
}

.tools-img {
  max-width: 50px;
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: contain;
}

.tool-card-text {
  font-size: 10px;
  text-transform: capitalize;
  font-weight: 700;
}

/* PRICING SECTION */
.pricing-section {
  padding: 70px 0px;
}

.pricing-section-holder {
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.pricing-section-heading-holder {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pricing-title {
  font-size: 28px;
}

.pricing-section-card-holder {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}

.pricing-card {
  max-width: 250px;
  width: 100%;
  border: 2px solid #d267cc;
  text-align: center;
  padding: 20px 0px;
  border-radius: 10px;
}

.pricing-card:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #f2f2f2;
}

.pricing-card-width-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 53%;
  margin: 0px auto;
  height: 100%;
}

.card-title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
}

.pricing-card-img {
  width: 40px;
  height: 40px;
}

.pricing-card-price {
  font-size: 30px;
}

.pricing-card-btn {
  max-width: 250px;
  width: 100%;
  padding: 7px 0px;
  border-radius: 10px;
  border: none;
  font-family: inherit;
  text-transform: capitalize;
  border: 2px solid #d267cc;
  background: transparent;
}

.pricing-card-btn:hover {
  cursor: pointer;
  background-color: #d267cc;
}

.section-seven-survey {
  max-width: 1000px;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 40px 0px;
}

.section-seven-blur-image {
  background-image: url("/images/young-man-using-laptop-airport.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.section-seven-survey-width-holder {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0px auto;
}

.section-seven-img {
  max-width: 450px;
  width: 100%;
  border: 1px solid #fff;
}

.section-seven-survey-text-holder {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  color: #fff;
}

.section-seven-survey-comment {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 15px;
}

.quote-icon-section-seven {
  width: 60px;
}

.survey-text {
  line-height: 1.5;
}

.section-seven-survey-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  text-indent: 35px;
}

.section-seven-user-name {
  text-transform: capitalize;
  font-size: 17px;
}

.section-seven-user-profession {
  font-size: 17px;
}

.section-seven-user-profession span {
  text-transform: capitalize;
}

.uppercase-span {
  text-transform: uppercase !important;
}

.section-two-holder {
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* DEMO SECTION */
.section-eight {
  background-image: url(https://img.freepik.com/free-vector/beige-blurred-background_1034-247.jpg?t=st=1727372221~exp=1727375821~hmac=a2b810d…&w=740);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10% 0px;
}

.section-eight-holder {
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section-eight-heading {
  font-size: 28px;
}

.home-section-btn a {
  text-decoration: none;
  color: #f2f2f2;
}

/* FOOTER */
.footer {
  padding: 2% 0;
}

.footer-holder {
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.footer-logo-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer-logo {
  width: 30px;
}

.header-text {
  font-size: 24px;
  margin-bottom: 10px;
  color: #4b6b72;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer-icon {
  width: 12px;
}

.privacy-terms {
  text-transform: capitalize;
}

.privacy-terms:hover {
  cursor: pointer;
}

/* MEDIA QUERIES*/
@media screen and (max-width: 1100px) {
  .header-holder {
    width: 90%;
  }

  .home-section-holder {
    width: 90%;
  }

  .section-two-holder {
    width: 90%;
  }

  .image-section-holder {
    width: 90%;
  }

  .discover-section-holder {
    width: 90%;
  }

  .data-section-holder {
    width: 90%;
  }

  .data-section-img {
    max-width: 450px;
  }

  .warehouse-section-holder {
    width: 90%;
  }

  .tools-section-holder {
    width: 90%;
  }

  .pricing-section-card-holder {
    max-width: 700px;
    gap: 15px;
  }

  .section-seven-survey {
    width: 90%;
  }

  .section-seven-img {
    max-width: 350px;
  }

  .section-seven-survey-text-holder {
    max-width: 350px;
  }

  .survey-text {
    font-size: 16px;
  }

  .section-seven-user-name {
    font-size: 15px;
  }

  .section-seven-user-profession {
    font-size: 15px;
  }

  .policy-terms-section-holder {
    width: 90%;
  }

  .section-eight-holder {
    width: 90%;
    text-align: center;
  }

  .footer-holder {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .home-section-img {
    max-width: 500px;
  }

  .data-section-img {
    max-width: 400px;
  }

  .data-text-holder {
    max-width: 400px;
  }
}

@media screen and (max-width: 960px) {
  .section-seven-survey-text-holder {
    max-width: 300px;
  }
}

@media screen and (max-width: 900px) {
  .home-section-title {
    font-size: 32px;
  }

  .home-section-text {
    font-size: 15px;
  }

  .btn {
    font-size: 18px;
    max-width: 250px;
  }

  .director-words {
    font-size: 12px;
  }

  .data-text-holder {
    max-width: 350px;
  }

  .data-text {
    font-size: 15px;
  }

  .tool-section-text-holder {
    max-width: 300px;
  }

  .tool-text {
    font-size: 15px;
  }

  .tool-title {
    font-size: 20px;
  }

  .section-seven-img {
    max-width: 300px;
  }
}

@media screen and (max-width: 860px) {
  .home-section-title {
    font-size: 26px;
  }

  .home-section-text {
    font-size: 14px;
  }

  .director-words {
    font-size: 10px;
  }

  .data-text-holder {
    max-width: 300px;
  }

  .data-text {
    font-size: 14px;
  }

  .warehouse-btn {
    max-width: 200px;
    font-size: 16px;
  }

  .section-seven-survey-text-holder {
    max-width: 280px;
  }

  .survey-text {
    font-size: 15px;
  }

  .section-seven-user-name {
    font-size: 14px;
  }

  .section-seven-user-profession {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .home-section {
    padding-bottom: 30px;
  }

  .home-section-holder {
    flex-direction: column;
    gap: 20px;
  }

  .home-section-img {
    max-width: 800px;
  }

  .home-section-text-holder {
    max-width: 700px;
  }

  .home-section-title {
    font-size: 34px;
  }

  .home-section-text {
    font-size: 16px;
  }

  .director-words {
    font-size: 13px;
  }

  .section-two-holder {
    max-width: 600px;
    flex-wrap: wrap;
    gap: 30px;
  }

  .img-list-holder {
    flex-wrap: wrap;
    gap: 30px;
  }

  .section-two-logos {
    max-width: 120px;
  }

  .img-list {
    max-width: 120px;
  }

  .data-section-holder {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .data-text-holder {
    max-width: 700px;
  }

  .data-text {
    font-size: 16px;
  }

  .data-section-img {
    max-width: 500px;
  }

  .tool-section-up {
    flex-direction: column;
    gap: 20px;
  }

  .tool-section-text-holder {
    align-items: center;
    text-align: center;
    max-width: 500px;
  }

  .tool-title {
    font-size: 28px;
  }

  .section-seven-survey-width-holder {
    flex-direction: column;
    gap: 25px;
  }

  .section-seven-img {
    max-width: 550px;
  }

  .section-seven-survey-text-holder {
    max-width: 450px;
    text-align: start;
  }

  .survey-text {
    font-size: 18px;
  }

  .section-seven-user-name {
    font-size: 16px;
  }

  .section-seven-user-profession {
    font-size: 16px;
  }
}

@media screen and (max-width: 685px) {
  .responsive-hight-adjustment {
    margin-bottom: 40px;
  }

  .warehouse-title {
    text-align: center;
  }

  .warehouse-btn {
    max-width: 150px;
    font-size: 13px;
  }

  .section-seven-survey {
    padding: 25px 0px;
  }

  .footer-holder {
    flex-direction: column;
  }

  .footer-logo-holder {
    justify-content: flex-start;
  }

  .footer-text {
    justify-content: space-between;
  }
}

@media screen and (max-width: 520px) {
  .warehouse-btn {
    max-width: 130px;
    font-size: 11px;
  }

  .pricing-section-header-holder {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .section-two-holder {
    max-width: 400px;
  }

  .data-text-holder {
    text-align: center;
    align-items: center;
  }

  .data-text {
    font-size: 15px;
  }

  .data-title {
    font-size: 28px;
  }

  .section-seven-text {
    font-size: 15px;
  }

  .survey-text {
    font-size: 15px;
  }

  .section-seven-user-name {
    font-size: 14px;
  }

  .section-seven-user-profession {
    font-size: 14px;
  }
  .section-eight-heading {
    font-size: 26px;
  }

  .section-eight-text {
    font-size: 15px;
  }

  .footer {
    padding: 5% 0px;
  }

  .footer-text {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .warehouse-img {
    max-width: 400px;
    margin-bottom: 15px;
  }

  .warehouse-btn-holder {
    flex-direction: column;
    gap: 20px;
  }

  .warehouse-btn {
    max-width: 200px;
    font-size: 14px;
  }
}

@media screen and (max-width: 370px) {
  .home-section-title {
    font-size: 29px;
  }

  .home-section-text {
    font-size: 15px;
  }

  .director-words {
    font-size: 11px;
  }

  .section-two-holder {
    max-width: 350px;
  }

  .img-list-holder {
    max-width: 350px;
  }

  .discover-section-subheading {
    font-size: 15px;
  }
}
